<table id="services-table" class="table">
  <thead>
    <tr>
      <th>Client's E-mail</th>
      <th>Description</th>
      <th>Price</th>
      <th>Date</th>
      <th>Delete Service</th>
      <th>Update Service</th>
    </tr>
 </thead>

 <tbody id="services-table-body">
   {{#each services as |service|}}
   <tr>
     <td><a href="" data-email="{{service.client.email}}" class="individual-services">{{service.client.email}}</a></td>
     <td>{{service.description}}</td>
     <td>{{service.price}}</td>
     <td>{{service.service_date}}</td>
     <td>
       <button data-id="{{service.id}}" class="btn btn-sm btn-danger destroy-service">Delete Service</button>
     </td>
     <td>
       <button data-id="{{service.id}}" class="btn btn-sm btn-warning update-service">Update Service</button>
     </td>
   </tr>
   {{/each}}
 </tbody>

</table>
