<table id="clients-table" class="table">
  <thead>
    <tr>
      <th>E-mail</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Date of Birth</th>
      <th>Delete Client</th>
      <th>Update Client</th>
      <th>Add Service</th>
    </tr>
 </thead>

 <tbody id="clients-table-body">
   {{#each clients as |client|}}
   <tr>
     <td><a href="" data-email="{{client.email}}" class="individual-services">{{client.email}}</td>
     <td>{{client.first_name}}</td>
     <td>{{client.family_name}}</td>
     <td>{{client.born_on}}</td>
     <td>
       <button data-id="{{client.id}}" class="btn btn-sm btn-danger destroy-client">Delete Client</button>
     </td>
     <td>
       <button data-id="{{client.id}}" class="btn btn-sm btn-warning update-client">Update Client</button>
     </td>
     <td>
       <button data-id="{{client.id}}" class="btn btn-sm btn-success add-service">Add Service</button>
     </td>
   </tr>
   {{/each}}
 </tbody>

</table>

<button class="btn btn-sm btn-default add-client">Add client</button>
